<%= simple_form_for @payslip, remote: true, html: { class: " p-2 mt-3"}, data: { turbo_frame: "_top" } do |f| %>
  <div class="form-inputs">
    <%= f.input :present, as: :numeric %>
    <%= f.input :absent, as: :numeric %>
    <%= f.input :salary, as: :numeric %>
    <%= f.input :net, as: :numeric %>



  </div>
  <div class="form-action">
    <%= button_to 'Cancel', payslip_path(@payslip), class:"mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-800 shadow-sm ring-1 ring-inset ring-gray-800 hover:bg-gray-50 sm:mt-0 sm:w-auto" %>  
    <%= f.submit 'Update', class:"mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-800 shadow-sm ring-1 ring-inset ring-gray-800 hover:bg-gray-50 sm:mt-0 sm:w-auto" %>
   </div>
<% end %> 

