<!DOCTYPE html>
<html>
  <head>
    <title>ManageMyPayroll</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags 'application' %>
  </head>

  <body class="bg-rose-200 text-gray-900">
    <%= render 'layouts/navigation' %>
    <main class="mx-auto max-w-7xl py-6 px-6 sm:px-6 lg:px-8 min-h-screen h-full">
      <div class="py-12 w-screen h-screen">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
